.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
    font-family: "Montserrat", serif;
}


.platformContainer {
    margin-top: 100px;
    width: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.platformContainerTitle {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Montserrat", serif;
}


.platformCarosuel {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.platform {
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    border: 1px solid transparent;
    text-align: center;
    padding: 0 40px;
    background-color: #1E2029;
    font-size: 14px;
    align-items: center;
}


.platform img {
    margin-top: 20px;
}

.platform span {
    margin-bottom: 20px;
}



.platform:hover {
    border: 1px solid rgb(63, 41, 191);
    cursor: pointer;
}



.platform span {
    margin-top: 20px ;
}



